* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0c0c0c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    margin-bottom: 20px;
}

.back-button {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    margin-right: 20px; /* Adicionado para separar o botão do título */
    position: absolute; /* Posiciona o botão absolutamente */
    left: 20px; /* Alinha o botão à esquerda */
}

.header h1 {
    font-size: 1.8rem;
    margin: 0;
}

.content, .rules-content {
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.rules-title {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-bottom: 10px;
}

.rules-title h2 {
    font-size: 1.5rem;
    margin: 0;
}

.content p, .content ul, .rules-content ol {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.content ul, .rules-content ol {
    padding-left: 20px;
}

.content ul li, .rules-content ol li {
    margin-bottom: 5px;
}

.footer {
    text-align: center;
    margin-top: 30px;
}

.footer img {
    width: 80px;
    height: auto;
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 1.5rem;
    }

    .content p, .content ul, .rules-content ol {
        font-size: 0.9rem;
    }

    .rules-title h2 {
        font-size: 1.2rem;
    }
}